
html, body {
	height: 100%;
	background-image: url("/blu_stripes.png");
}

.chat {
	height: calc(100% - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}

.chat-row {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 15px;
	margin-left: 15%;
	margin-right: 15%;
}

.chat-input, .chat-input .input-group {
	width: 100%;
}
.chat-input, .chat-input * {
	height: 50px;
}

.avatar {
	width: 5%;
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;

	/* Transparent face with background as color (smile-transparent.png)
	background-color: blue;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;*/

}

.avatar img {
	width: 100%;
}

.bubble-container {
	width: 94%;
	display: inline-block;
}

.bubble {
	position: relative;
	width: 100%;
	padding: 10px;
	margin-left: 20px; /*width of pointer*/

	background-color: #BBFFFF;
	background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;

	-webkit-box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.75);
	box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.75);
}
.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 20px 10px 0;
	display: block;
	width: 0;
	z-index: 1;
	left: -20px;
	top: 0px;
}
.bubble.bbffff:after {
	border-color: transparent #BBFFFF;
}
.bubble.b694da:after {
	border-color: transparent #b694da;
}
.bubble.bde0b1:after {
	border-color: transparent #bde0b1;
}
.bubble.a0e1b4:after {
	border-color: transparent #a0e1b4;
}
.bubble.a63333:after {
	border-color: transparent #a63333;
}
.bubble.d090c4:after {
	border-color: transparent #d090c4;
}
.bubble.fffed9:after {
	border-color: transparent #fffed9;
}
.bubble.ffd39b:after {
	border-color: transparent #ffd39b;
}
.bubble.n74bbfb:after {
	border-color: transparent #74bbfb;
}
.bubble > p {
	margin: 0;
}

.bubble .time {
	text-align: right;
}

.bubble .chat-row-header > * {
	width: 50%;
	display: inline-block;
	float: left;
}

/* For screens at least 768px wide (large screens/desltops) */
@media screen and (min-width: 768px){

}

/* For screens at most 767px wide (small screens/phones) */
@media screen and (max-width: 767px){

}
