
html, body {
	height: 100%;
}


.top-stuff {
	position: absolute;
	top: 20px;
	left: 20px;
	width: calc(100% - 40px);
}

.chat {
	height: calc(100% - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;

	background-image: url("/background.png");
	background-size: 100% calc(100% + 50px);
}

.chat-row {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 15px;
	margin-left: 15%;
	margin-right: 15%;
}

.chat-input, .chat-input .input-group {
	width: 100%;
}
.chat-input {
	position: relative;
	height: 50px;
	background-color: #ddeaf7;
	border: 0px solid #ddeaf7;
	z-index: 2;
}
.chat-input .input-group-btn .btn {
	height: 50px;
	background-color: transparent;
	border: 0px solid transparent;
	padding-left: 0;
	padding-right: 10px;
}
.chat-input .input-group-btn .btn * {
	font-size: 40px;
	color: #555555;
}
#message {
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	width: calc(100% - 20px);
	border-radius: 10px;
	color: white;
}
#message::-webkit-input-placeholder {
   color: #dddddd;
}

#message:-moz-placeholder { /* Firefox 18- */
   color: #dddddd;
}

#message::-moz-placeholder {  /* Firefox 19+ */
   color: #dddddd;
}

#message:-ms-input-placeholder {
   color: #dddddd;
}

.avatar {
	width: 5%;
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;

	/* Transparent face with background as color (smile-transparent.png)
	background-color: blue;
	border: 3px solid black;
	border-radius: 10px;
	padding: 5px;*/

}

.avatar img {
	width: 100%;
}

.bubble-container {
	width: 94%;
	display: inline-block;
}

.bubble {
	position: relative;
	width: 100%;
	padding: 10px;
	margin-left: 20px; /*width of pointer*/

	background-color: #BBFFFF;
	background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;

	-webkit-box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.75);
	box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.5);
}
.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 20px 10px 0;
	display: block;
	width: 0;
	z-index: 1;
	left: -20px;
	top: 0px;
}
.bubble.bbffff:after {
	border-color: transparent #BBFFFF;
}
.bubble.b694da:after {
	border-color: transparent #b694da;
}
.bubble.bde0b1:after {
	border-color: transparent #bde0b1;
}
.bubble.a0e1b4:after {
	border-color: transparent #a0e1b4;
}
.bubble.a63333:after {
	border-color: transparent #a63333;
}
.bubble.d090c4:after {
	border-color: transparent #d090c4;
}
.bubble.fffed9:after {
	border-color: transparent #fffed9;
}
.bubble.ffd39b:after {
	border-color: transparent #ffd39b;
}
.bubble.n74bbfb:after {
	border-color: transparent #74bbfb;
}
.bubble > p {
	margin: 0;
}

.bubble .time {
	text-align: right;
}

.bubble .chat-row-header > * {
	width: 50%;
	display: inline-block;
	float: left;
}

.sample-photo {
	width: 100%;
	margin: auto;
	display: block;
}

#timeline {
	list-style: none;
	padding: 0;
	border-right: 5px solid #444444;
	color: #444444;
}
#timeline li {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 10px;
}
#timeline a {
	color: #444444;
}


/* For screens at least 768px wide (large screens/desltops) */
@media screen and (min-width: 768px){

}

/* For screens at most 767px wide (small screens/phones) */
@media screen and (max-width: 767px){

}
