
html, body {
	height: 100%;
}

.chat {
	padding-top: 100px; /* this must always equal limit */
	height: calc(100% - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}

.chat-row {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 15px;
}

.chat-input, .chat-input .input-group {
	width: 100%;
}
.chat-input, .chat-input * {
	height: 50px;
}

.avatar {
	width: 5%;
	display: inline-block;
	vertical-align: top;
}

.avatar img {
	width: 100%;
}

.bubble-container {
	width: 90%;
	display: inline-block;
}

.bubble {
	position: relative;
	width: 100%;
	min-height: 40px;
	padding: 10px;
	margin-left: 20px; /*width of pointer*/
	background: #BBFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.75);
	box-shadow: -10px 10px 10px -5px rgba(0,0,0,0.75);
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 20px 10px 0;
	border-color: transparent #BBFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -20px;
	top: 10px;
}

/* For screens at least 768px wide (large screens/desltops) */
@media screen and (min-width: 768px){

}

/* For screens at most 767px wide (small screens/phones) */
@media screen and (max-width: 767px){

}
