
.main {
	background-color: white;
	font-family: "helvetica";
	padding-top: 20px;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 40px;
}

.atchannel-title {
	border-radius: 10px;
}

.atchannel-title h1 {
	margin-top: 10px;
	font-size: 50px;
	line-height: 50px;
}

.about .panel-body {
	padding: 5px;
}

/**
 * Anime
 */
.anime {
	background-color: #6b6189;
}

.anime .atchannel-title {
	background-color: #82b0c3;
	border: 5px solid #7496a3;
	color: white;
}
.anime .atchannel-title a {
	color: white;
}

.anime .about {
	border: 10px solid #b1a5c2;
	border-radius: 0;
}
.anime .about .panel-heading{
	background-color: #537084;
	color: white;
	border-radius: 0;
}
.anime .about .pandel-body {
	color: black;
}

.anime .stuff .panel-heading {
	background-color: #537084;
	color: white;
}


/**
 * VN
 */

.vn .atchannel-title {
	color: black;
}

.vn .about .panel-body {
	color: black;
}


/* For screens at least 768px wide (large screens/desltops) */
@media screen and (min-width: 768px){

}

/* For screens at most 767px wide (small screens/phones) */
@media screen and (max-width: 767px){
	.main {
		padding-left: 20px;
		padding-right: 20px;
	}
}
