
html, body {
	height: 100%;
}

.sample-photo {
	width: calc(50% - 10px);
	display: inline;
	float: left;
	margin-left: 10px;
}

.top-stuff {
	position: absolute;
	top: 20px;
	left: 20px;
	width: calc(100% - 40px);
}

.chat {
	height: calc(100% - 50px);
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}

.filler-row {
	height: 50%;
}


/**
 * Anime designs
 */

.anime .chat {
	background-image: url("/static/images/background.png");
	background-size: 100% calc(100% + 50px);
}

.anime .chat-row {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 15px;
	margin-left: 15%;
	margin-right: 15%;
}

.anime .chat-input, .anime .chat-input .input-group {
	width: 100%;
}
.anime .chat-input {
	position: relative;
	height: 50px;
	background-color: #ddeaf7;
	border: 0px solid #ddeaf7;
	z-index: 2;
}
.anime .chat-input .input-group-btn .btn {
	height: 50px;
	background-color: transparent;
	border: 0px solid transparent;
	padding-left: 0;
	padding-right: 10px;
}
.anime .chat-input .input-group-btn .btn * {
	font-size: 40px;
	color: #555555;
}
.anime .message {
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	width: calc(100% - 20px);
	border-radius: 10px !important;
	color: white;
	background-color: #9596bf;
}
.anime .message::-webkit-input-placeholder {
   color: #dddddd;
}

.anime .message:-moz-placeholder { /* Firefox 18- */
   color: #dddddd;
}

.anime .message::-moz-placeholder {  /* Firefox 19+ */
   color: #dddddd;
}

.anime .message:-ms-input-placeholder {
   color: #dddddd;
}

.anime .avatar {
	width: 5%;
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
}

.anime .avatar img {
	width: 100%;
}

.anime .bubble-container {
	width: 94%;
	display: inline-block;
}

.anime .bubble {
	position: relative;
	width: 100%;
	padding: 10px;
	margin-left: 20px; /*width of pointer*/

	background-color: #BBFFFF;
	background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;

	-webkit-box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.75);
	box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.5);
}
.anime .bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 20px 10px 0;
	display: block;
	width: 0;
	z-index: 1;
	left: -20px;
	top: 0px;
	border-color: inherit;
}

.anime .bubble > p {
	margin: 0;
}

.anime .bubble .anime-time {
	text-align: right;
}

.anime .bubble .chat-row-header > * {
	width: 50%;
	display: inline-block;
	float: left;
}

.anime .timeline {
	list-style: none;
	padding: 0;
	border-right: 5px solid #444444;
	color: #444444;
	display: inline-block;
}
.anime .timeline li {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 10px;
}
.anime .timeline a {
	color: #444444;
}

.anime .vn-time {
	display: none !important;
}

.anime .sage {
	display: inline !important;
}


/**
 * VN designs
 */

.vn .chat-row {
	padding-top: 15px;
	padding-bottom: 0px;
	font-size: 15px;
	margin-left: 5%;
	margin-right: 5%;
}
.vn .chat-row .postMessage {
	padding-left: 20px;
}

.vn .chat-input, .vn .chat-input .input-group {
	width: 100%;
}
.vn .chat-input {
	position: relative;
	height: 50px;
	z-index: 2;
}
.vn .chat-input * {
	height: 50px;
	line-height: 40px;
}
.vn .chat-input button span {
	font-size: 20px;
}

.vn .avatar {
	display: none;
}

.vn .timeline {
	display: none;
}

.vn .sage {
	display: none;
}

.vn .anime-time {
	display: none;
}


/* For screens at least 768px wide (large screens/desltops) */
@media screen and (min-width: 768px){

}

/* For screens at most 767px wide (small screens/phones) */
@media screen and (max-width: 767px){

}
