
html, body {
	height: 100%;
}

.sample-photo {
	width: calc(50% - 10px);
	display: inline;
	float: left;
	margin-left: 10px;
}

.timeline-container {
	position: fixed;
	right: 26px; 
	text-align: right; 
	min-width: 40px; 
	z-index: 2;
}

.top-stuff {
	position: absolute;
	top: 20px;
	left: 20px;
	width: calc(100% - 40px);
}

.chat {
	overflow-x: hidden;
	position: relative;
}

.filler-row {
	height: 50vh;
}

.dropdown-menu > li {
	text-align: center;
}


/**
 * Anime designs
 */

.anime .chat-row {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 15px;
	margin-left: 15%;
	margin-right: 15%;
}

.anime .chat-input, .anime .chat-input .input-group {
	width: 100%;
}
.anime .chat-input {
	position: fixed;
	height: 50px;
	bottom: 0;
	background-color: #ddeaf7;
	border: 0px solid #ddeaf7;
	z-index: 2;
}
.anime .chat-input .input-group-btn .btn {
	height: 50px;
	background-color: transparent;
	border: 0px solid transparent;
	padding-left: 0;
	padding-right: 10px;
}
.anime .chat-input .input-group-btn .btn * {
	font-size: 40px;
	color: #555555;
}
.anime .message {
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
	width: calc(100% - 20px);
	border-radius: 10px !important;
	color: white;
	background-color: #9596bf;
}
.anime .message::-webkit-input-placeholder {
   color: #dddddd;
}

.anime .message:-moz-placeholder { /* Firefox 18- */
   color: #dddddd;
}

.anime .message::-moz-placeholder {  /* Firefox 19+ */
   color: #dddddd;
}

.anime .message:-ms-input-placeholder {
   color: #dddddd;
}

.anime .avatar {
	width: 5%;
	vertical-align: top;
	margin-top: -5px;
}

.anime .avatar img {
	width: 100%;
}

.anime .bubble-container {
	width: 94%;
	display: inline-block;
}

.anime .bubble {
	position: relative;
	width: 100%;
	padding: 10px;
	margin-left: 20px; /*width of pointer*/

	background-color: #BBFFFF;
	background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.5), hsla(0,0%,100%,0));

	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;

	-webkit-box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.75);
	box-shadow: -7px 7px 7px -2px rgba(0,0,0,0.5);
}
.anime .bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0px 20px 10px 0;
	width: 0;
	z-index: 1;
	left: -20px;
	top: 0px;
	border-color: inherit;
}

.anime .bubble > p {
	margin: 0;
}

.anime .bubble .anime-time {
	text-align: right;
}

.anime .bubble .chat-row-header {
	display: table;
	clear: both;
}

.anime .bubble .chat-row-header > * {
	display: inline-block;
	float: left;
}

.anime .bubble .chat-row-header .part1 {
	width: 70%;
}
.anime .bubble .chat-row-header .part2 {
	width: 30%;
}

.anime .timeline {
	list-style: none;
	padding: 0;
	border-right: 5px solid #444444;
	color: #444444;
	display: inline-block;
}
.anime .timeline li {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 10px;
}
.anime .timeline a {
	color: #444444;
}

.anime .vn-time {
	display: none !important;
}

.anime .sage {
	display: inline !important;
}


/**
 * VN designs
 */

.vn .chat-row {
	padding-top: 15px;
	padding-bottom: 0px;
	font-size: 15px;
	margin-left: 5%;
	margin-right: 5%;
}
.vn .chat-row .postMessage {
	padding-left: 20px;
}

.vn .chat-input, .vn .chat-input .input-group {
	width: 100%;
}
.vn .chat-input {
	position: fixed;
	height: 50px;
	z-index: 2;
	bottom: 0;
}
.vn .chat-input * {
	height: 50px;
	line-height: 40px;
}
.vn .chat-input button span {
	font-size: 20px;
}

.vn .timeline {
	display: none;
}

.vn .sage {
	display: none;
}

.vn .anime-time {
	display: none;
}


/* For screens at least 768px wide (large screens/desltops) */
@media screen and (min-width: 768px){
	.anime .avatar {
		display: inline-block;
	}
	.anime .bubble {
		-webkit-border-top-left-radius: 0px;
		-moz-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
	}
	.anime .bubble:after {
		display: block;
	}

	.vn .avatar {
		display: none;
	}
	.vn .bubble:after {
		display: none;
	}
}

/* For screens at most 767px wide (small screens/phones) */
@media screen and (max-width: 767px){
	.avatar {
		display: none;
	}
	.bubble {
		-webkit-border-top-left-radius: 10px;
		-moz-border-top-left-radius: 10px;
		border-top-left-radius: 10px;
	}
	.bubble:after {
		display: none;
	}
}



.navbar {
	border-radius: 0;
}
.anime .navbar-default {
    background-color: #59b2b6;
    border-color: #4496ad;
}
.anime .navbar-default .navbar-brand {
    color: #ecf0f1;
}
.anime .navbar-default .navbar-brand:hover,
.anime .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.anime .navbar-default .navbar-text {
    color: #ecf0f1;
}
.anime .navbar-default .navbar-nav > li > a {
    color: #ecf0f1;
}
.anime .navbar-default .navbar-nav > li > a:hover,
.anime .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.anime .navbar-default .navbar-nav > .active > a,
.anime .navbar-default .navbar-nav > .active > a:hover,
.anime .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #4496ad;
}
.anime .navbar-default .navbar-nav > .open > a,
.anime .navbar-default .navbar-nav > .open > a:hover,
.anime .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #4496ad;
}
.anime .navbar-default .navbar-toggle {
    border-color: #4496ad;
}
.anime .navbar-default .navbar-toggle:hover,
.anime .navbar-default .navbar-toggle:focus {
    background-color: #4496ad;
}
.anime .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.anime .navbar-default .navbar-collapse,
.anime .navbar-default .navbar-form {
    border-color: #ecf0f1;
}
.anime .navbar-default .navbar-link {
    color: #ecf0f1;
}
.anime .navbar-default .navbar-link:hover {
    color: #ffffff;
}
@media (max-width: 767px) {
    .anime .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .anime .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .anime .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .anime .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .anime .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .anime .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #4496ad;
    }
}