<!DOCTYPE html>

<html>
    <head>
        <title>@channel</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-image-gallery.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/about.css" />
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="main container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Why create @channel?</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                Why not? Steins;Gate is one of my most favorite animes and I was disappointed to see that @channel did not actually exist (though it is technically based off 2chan, and supposedly operates like 4chan.) I just thought it would be nice to have exist. I can also show my friends, family, and future employers "Hey, I made this. Isn't that a neat thing."
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">How did you make @channel?</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                @channel was originally coded entirelly in javascript using Node.js and MongoDB on with a framework called Meteor. However, meteor was too slow for retrieving posts, so I had to dump it and now the site uses Flask instead.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Can I contribute to @channel?</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                YES PLZ!!! I would love for people to contribute to making @channel a real thing. 
                                The source code for @channel is available on <a target="_blank" href="https://github.com/PiJoules/-channel">Github</a> if you want to help develop it. You can also help by pointing any out small mistakes like bugs spelling errors you find here on <a href="/Suggestions">SuggestionsChannel</a>. There is also a list of things you can help out with below.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Images from the anime</h3>
                        </div>
                        <div class="panel-body">
                            <p>These were the images used to create the anime style</p>
                            <div class="links">
                                <a href="/static/img/@channel.png" title="The main image used" data-gallery>
                                    <img src="/static/img/@channel.png" alt="The main image used">
                                </a>
                                <a href="/static/img/@channel.gif" title="Scrolling" data-gallery>
                                    <img src="/static/img/@channel.gif" alt="Scrolling">
                                </a>
                                <a href="/static/img/@channel-ep2-1140.png" title="Episode 2 (11:40)" data-gallery>
                                    <img src="/static/img/@channel-ep2-1140.png" alt="Episode 2 (11:40)">
                                </a>
                                <a href="/static/img/@channel-ep2-1141.png" title="Episode 2 (11:41)" data-gallery>
                                    <img src="/static/img/@channel-ep2-1141.png" alt="Episode 2 (11:41)">
                                </a>
                                <a href="/static/img/@channel-ep2-1148.png" title="Episode 2 (11:48)" data-gallery>
                                    <img src="/static/img/@channel-ep2-1148.png" alt="Episode 2 (11:48)">
                                </a>
                                <a href="/static/img/@channel-ep2-1218.png" title="Episode 2 (12:18)" data-gallery>
                                    <img src="/static/img/@channel-ep2-1218.png" alt="Episode 2 (12:18)">
                                </a>
                                <a href="/static/img/@channel-ep2-1224.png" title="Episode 2 (12:24)" data-gallery>
                                    <img src="/static/img/@channel-ep2-1224.png" alt="Episode 2 (12:24)">
                                </a>
                                <a href="/static/img/@channel-ep2-1225.png" title="Episode 2 (12:25)" data-gallery>
                                    <img src="/static/img/@channel-ep2-1225.png" alt="Episode 2 (12:25)">
                                </a>
                                <a href="/static/img/@channel-ep3-1718.png" title="Episode 3 (17:18)" data-gallery>
                                    <img src="/static/img/@channel-ep3-1718.png" alt="Episode 3 (17:18)">
                                </a>
                                <a href="/static/img/@channel-ep3-1735.png" title="Episode 3 (17:35)" data-gallery>
                                    <img src="/static/img/@channel-ep3-1735.png" alt="Episode 2 (17:35)">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Images from the visual novel</h3>
                        </div>
                        <div class="panel-body">
                            <p>These were the images used to create the VN style</p>
                            <div class="links">
                                <a href="/static/img/VN/vn.jpg" title="VN 1" data-gallery>
                                    <img src="/static/img/VN/vn.jpg" alt="VN 1">
                                </a>
                                <a href="/static/img/VN/vn2.jpg" title="VN 2" data-gallery>
                                    <img src="/static/img/VN/vn2.jpg" alt="VN 2">
                                </a>
                                <a href="/static/img/VN/vn3.png" title="VN 3" data-gallery>
                                    <img src="/static/img/VN/vn3.png" alt="VN 3">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Stuff you can help with</h3>
                        </div>
                        <div class="panel-body">
                            <p>Here's some other conent I need relating to @channel. A lot of it is stuff I can't particularly do myself.</p>
                            <ul>
                                <li>Translate the text in <a href="/static/img/@channel-ep2-1140.png" title="Episode 2 (11:40)">this image</a>.</li>
                                <li>Translate the text in <a href="/static/img/@channel-ep2-1141.png" title="Episode 2 (11:41)">this image</a>.</li>
                                <li>Provide more images of @channel from either the anime or VN.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Todo</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Find new way for resizing markdown content in each post. `Zoom` does not work in Firefox or IE, but does work on Chrome and Safari.</li>
                                <li>Add stats to front page and channel pages.</li>
                                <li>Add reply and report buttons to each post.</li>
                                <li>Be able to sort channels by creation date.</li>
                                <li>Add channel descriptions.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
        <div id="blueimp-gallery" class="blueimp-gallery">
            <!-- The container for the modal slides -->
            <div class="slides"></div>
            <!-- Controls for the borderless lightbox -->
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
            <!-- The modal dialog, which will be used to wrap the lightbox content -->
            <div class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>
                        <div class="modal-body next"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left prev">
                                <i class="glyphicon glyphicon-chevron-left"></i>
                                Previous
                            </button>
                            <button type="button" class="btn btn-primary next">
                                Next
                                <i class="glyphicon glyphicon-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include "footer.html" %}


        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-image-gallery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown.js"></script>
        <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fittext.js"></script>
        <script type="text/javascript" src="/static/js/module.js"></script>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <script type="text/javascript">
            // set any vars returned by flask here
        </script>
    </body>

</html>
