<!DOCTYPE html>

<html>
    <head>
        <title>@channel</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/channel.css" />
    </head>

    <body>
        {% if messages|length > 0 %}
        <div class="timeline-container">
            <ul class="timeline"></ul>
        </div>
        {% endif %}

        <div class="chat">
            {% include "navbar.html" %}

            <div class="container">
                <div class="jumbotron" style="min-height: 50%; min-height: 50vh; display: flex; align-items: center;">
                    <div class="container">
                        <h1>
                            Welcome to                     
                            {% if channel == "main" %}
                                @channel
                            {% else %}
                                {{ channel }}Channel
                            {% endif %}
                        </h1>
                        <p class="description">{% if description %}{{ description }}{% endif %}</p>
                    </div>
                </div>

                {% if messages|length >= limit %}
                    <div class="row" style="margin-left: 15%; margin-right: 15%; margin-bottom: 30px; text-align: center;">
                        <button class="load-prev btn btn-default btn-block">Load {{ limit }} more</button>
                    </div>
                {% endif %}
            </div>

            <div id="marker" style="display: none;"></div>

            {% include "posts.html" %}

            <div class="row filler-row" style="visibility: hidden;"></div>
        </div>
        {% if not preview %}
            <div class="chat-input">
                <form class="message-form input-group">
                    <input type="text" class="message form-control" name="message" placeholder="Post message as 'Anonymous'" />
                    <span class="input-group-btn">
                        <button class="btn btn-default prevPost"><span class="fa fa-caret-left"></span></button>
                        <button class="btn btn-default nextPost"><span class="fa fa-caret-right"></span></button>
                    </span>
                </form>
            </div>
        {% endif %}

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown.js"></script>
        <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="/static/js/module.js"></script>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <script type="text/javascript">
            // set any vars returned by flask here
            var channel = "{{ channel }}";
            var messagesCount = {{ messages|length }};
            var inComments = false;
        </script>
        <script type="text/javascript" src="/static/js/channel.js"></script>
    </body>

</html>
