<!DOCTYPE html>

<html>
    <head>
        <title>@channel</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/channels.css" />
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="main container">
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        <div class="btn-group" role="group" aria-label="...">
                            {% if sort == "latest" %}
                                <a href="/channels/popular" class="btn btn-default">Popular</a>
                                <a href="/channels/latest" class="btn btn-default active">Latest</a>
                            {% else %}
                                <a href="/channels/popular" class="btn btn-default active">Popular</a>
                                <a href="/channels/latest" class="btn btn-default">Latest</a>
                            {% endif %}
                        </div>
                    </p>
                </div>
            </div>

            {% for channel in channels %}
            <div class="channel row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="/{{channel._id}}">
                                    {% if channel._id == "main" %}
                                        @channel
                                    {% else %}
                                        {{ channel._id }}Channel
                                    {% endif %}
                                </a>
                                <span>
                                    ({{ channel.seq|int }}
                                    {% if channel.seq != 1 %}
                                        Posts)
                                    {% else %}
                                        Post)
                                    {% endif %}
                                </span>
                            </h3>
                        </div>
                        <div class="panel-body">
                            Description:
                            {% if channel.description %}
                                {{ channel.description }}
                            {% else %}
                                None
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            <nav>
                <ul class="pager">
                    <li class="previous {% if page <= 0 %}disabled{% endif %}">
                        <a href="
                            {% if page <= 0 %}
                                #
                            {% else %}
                                /channels/{{ sort }}/{{ page-1 }}
                            {% endif %}
                            "><span aria-hidden="true">&larr;</span></a>
                    </li>
                    <li class="next {% if channels|length < limit %}disabled{% endif %}">
                        <a href="
                            {% if channels|length < limit %}
                                #
                            {% else %}
                                /channels/{{ sort }}/{{ page+1 }}
                            {% endif %}
                        "><span aria-hidden="true">&rarr;</span></a>
                    </li>
                </ul>
            </nav>
        </div>

        {% include "footer.html" %}

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown.js"></script>
        <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fittext.js"></script>
        <script type="text/javascript" src="/static/js/module.js"></script>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <script type="text/javascript">
            // set any vars returned by flask here
        </script>
    </body>

</html>
