<!DOCTYPE html>

<html>
    <head>
        <title>@channel</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>

    <body>
        <img id="background-image" src="/static/images/background.png" style="width: 100%; height: 100%; position: fixed; z-index: 0; top: 0; left: 0;" />

        {% if messages|length > 0 %}
        <div class="timeline-container">
            <ul class="timeline"></ul>
        </div>
        {% endif %}

        <div class="chat">
            {% include "navbar.html" %}

            <div class="row" style="min-height: calc(50vh - 50px); text-align: center;">
                <h1>Welcome to</h1>
                <h1 id="channel-name" class="fit-text">
                    {% if channel == "main" %}
                        @channel
                    {% else %}
                        {{ channel }}Channel
                    {% endif %}
                </h1>
            </div>

            {% if messages|length >= 50 %}
            <div class="row" style="margin-left: 15%; margin-right: 15%; margin-bottom: 30px; text-align: center;">
                <button class="load-prev btn btn-default btn-block">Load 50 more</button>
            </div>
            {% endif %}

            <div id="marker" style="display: none;"></div>

            {% include "posts.html" %}

            <div class="row filler-row" style="visibility: hidden;"></div>
        </div>
        <div class="chat-input">
            <div class="input-group">
                <input type="text" class="message form-control" placeholder="Post message as 'Anonymous'" onclick="window.location.href='/submitpost.html'" />
                <span class="input-group-btn">
                    <button class="btn btn-default prevPost"><span class="fa fa-caret-left"></span></button>
                    <button class="btn btn-default nextPost"><span class="fa fa-caret-right"></span></button>
                </span>
            </div>
        </div>

        <!-- About @channel modal -->
        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">About @channel</h4>
                    </div>
                    <div class="modal-body">
                        <p>The goal of this website is to replicate the @channel as seen in the anime Steins;Gate as much as possible.</p>

                        <p>I've been attempting to create it based off @channel's portrayal in the anime (left) and in the visual novel (right). The anime portrayal is from episode 11.</p>

                        <p>
                            <img class="sample-photo" src="/static/images/@channel.gif" alt="@channel" />
                            <img class="sample-photo" src="/static/images/VN/vn3.png" alt="@channel" />
                        </p>

                        <h3>Resources</h3>
                        <ul>
                            <li>Source code available <a href="https://github.com/PiJoules/-channel">here</a></li>
                            <li>Got suggestions for @channel? Post them <a href="/redirect/Suggestions">here</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- existing channels modal -->
        <div class="modal fade" id="existing-channels" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">Find a channel</h4>
                    </div>
                    <div class="modal-body">
                        <p>These are all the currently existing channels created by users on @channel</p>

                        <p>
                            <a href="/main">@channel</a>
                            ({{ mainChannelCount|int }}
                            {% if mainChannelCount != 1 %}
                                Posts)
                            {% else %}
                                Post)
                            {% endif %}
                        </p>

                        {% for channel in channels %}
                            <p>
                                <a href="/{{channel._id}}">{{ channel._id }}Channel</a>
                                ({{ channel.seq|int }}
                                {% if channel.seq != 1 %}
                                    Posts)
                                {% else %}
                                    Post)
                                {% endif %}
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- create a channel modal -->
        <div class="modal fade" id="creating-channel" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Create a channel</h4>
                    </div>
                    <div class="modal-body">
                        <p><small>Enter the name of a new channel you want to create. It must contain only alphanumeric characters.</small></p>
                        <p><small>You do not need to end it with the word "Channel" when creating one. It will be added for you.</small></p>
                        <div class="form-group">
                            <input type="text" class="form-control" id="new-channel-name" placeholder="Channel Name" />
                        </div>
                        <p>Channel Name: <strong class="new-channel-name">NewChannel</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="submit-channel" type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Settings modal -->
        <div class="modal fade" id="settings-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Settings</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Toggle Style</h4>
                                <p>Toggle between the style of @channel portrayed in the anime and the visual novel.</p>
                                <input class="toggle-style" type="checkbox" name="my-checkbox" checked>
                            </div>
                            <div class="col-sm-6">
                                <h4>Toggle Resize</h4>
                                <p>Toggle the resizing animations for each row while scrolling. (Can only toggle if on anime style.)</p>
                                <input class="toggle-resize" type="checkbox" name="my-checkbox" checked>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Change Username</h4>
                                <p><small>'Anonymous' will be your username if you don't enter one</small>
                                </p>
                                <div class="input-group">
                                    <input type="text" class="form-control submit-username" id="selected-user-name" placeholder="Username" />
                                    <span class="input-group-btn">
                                        <button id="submit-username" class="btn btn-default" type="button">Submit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Post modal -->
        <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title">Submit a post</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input name="title" type="text" placeholder="Title?" />
                            <textarea id="post-markdown" name="content" data-provide="markdown" rows="10"></textarea>
                            <label class="checkbox">
                                <input name="publish" type="checkbox"> Publish
                            </label>
                            <hr/>
                            <button type="submit" class="btn">Submit</button>
                        </form> 
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown.js"></script>
        <script type="text/javascript" src="/static/js/he.js"></script>
        <script type="text/javascript" src="/static/js/to-markdown.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-markdown.js"></script>
        <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fittext.js"></script>
        <script type="text/javascript" src="/static/js/module.js"></script>
        <script type="text/javascript">
            // set any vars returned by flask here
            var channel = "{{ channel }}";
            var messagesCount = {{ messages|length }};
        </script>
        <script type="text/javascript" src="/static/js/channel.js"></script>
    </body>

</html>
