<!DOCTYPE html>

<html>
    <head>
        <title>@channel</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="main container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="atchannel-title well">
                        <h1>@channel</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="about panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">What is @channel?</h3>
                        </div>
                        <div class="panel-body">
                            The goal of this website is to replicate the <b>@channel</b> from the anime <b>Steins;Gate</b> as much as possible (making this basically a parody of 4chan). Here you will find various channels dedicated to a variety of topics created by users. Users do not need to register an account before participating in a channel.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown.js"></script>
        <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fittext.js"></script>
        <script type="text/javascript" src="/static/js/module.js"></script>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <script type="text/javascript">
            // set any vars returned by flask here
        </script>
        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>

</html>
