<!DOCTYPE html>

<html>
    <head>
        <title>@channel</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="main container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center">
                    <div class="atchannel-title well">
                        <h1><a href="/">@channel</a></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="about panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">What is @channel?</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                The goal of this website is to replicate the <b>@channel</b> from the anime <b>Steins;Gate</b> as much as possible (making this basically a parody of 4chan). Here you will find various channels dedicated to a variety of topics created by users. Users do not need to register an account before participating in a channel.
                            </p>
                            <p>Before you post anything to @channel, be sure to check out the <a href="/rules.html">rules</a> regarding posts. You can find more about @channel (features, development, todos, etc.) <a href="/about.html">here</a>.</p>
                            <p>Check out the main channel <a href="/main">here</a> or find a channel that interests you <a href="/channels.html">here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="stuff panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><a href="/channels/latest">Newest Channels</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                {% for channel in newestChannels %}
                                    <strong><a href="{{ channel._id }}">
                                        {% if channel._id == "main" %}
                                            @channel
                                        {% else %}
                                            {{ channel._id }}Channel
                                        {% endif %}
                                    </a></strong>: {{ prettifyTime(channel.time) }} <br>
                                {% endfor %}
                            </p>
                            <p><a href="/channels/latest">more ...</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="stuff panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><a href="/channels">Popular Channels</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                {% for channel in popularChannels %}
                                    <strong><a href="{{ channel._id }}">
                                        {% if channel._id == "main" %}
                                            @channel
                                        {% else %}
                                            {{ channel._id }}Channel
                                        {% endif %}
                                    </a></strong>: {{ channel.seq|int }} posts <br>
                                {% endfor %}
                            </p>
                            <p><a href="/channels">more ...</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="stuff panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Quick tips about using @channel</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Switching between the anime and VN design</h4>
                    <p>A lot of people commented that the design of @channel did not look like how it was portrayed in the visual novel. You can alternate between both styles in the settings (the little gear in the upper right corner.)</p>
                </div>
                <div class="col-sm-6">
                    <h4>Turning on and off the scrolling animation</h4>
                    <p>When on a channel, resizing each post while scrolling (as it was portrayed on the anime) took up a lot of CPU. You can choose to turn off and on these animations to make it easier on your computer in the settings. If you are on the VN style or viewing from a mobile devices, animations are automatically disabled.</p>
                </div>
                <div class="col-sm-6">
                    <h4>@channel uses markdown</h4>
                    <p>Why? Because markdown is awesome! Don't know markdown? That's fine. You don't need to know it to submit posts. If you want to use markdown, here's a little <a target="_blank" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">cheatsheet</a>.</p>
                </div>
                <div class="col-sm-6">
                    <h4>Helping build @channel</h4>
                    <p>If you want to contribute to developing @channel, the code is open source on <a target="_blank" href="https://github.com/PiJoules/-channel">Github</a>. If you want to help but don't know how to code, you can check out some of the things on my todo list for improving @channel. If you also spot some small things like bugs or spelling errors, post them on <a href="/Suggestions">SuggestionsChannel</a>.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="stuff panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Updates</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Site re-relaunch <small>(Insert date here l8er)</small></h4>
                    <p>Horray</p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="stuff panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Latest posts</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                {% for post in latestPosts %}
                                    <strong><a href="{{ post.channel }}">
                                        {% if post.channel == "main" %}
                                            @channel
                                        {% else %}
                                            {{ post.channel }}Channel
                                        {% endif %}
                                    </a></strong>: {{ post.message }} <br>
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="stuff panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Stats</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                <strong>Total posts: </strong>{{ postCount }}
                                <br>
                                <strong>Total channels: </strong>{{ channelCount }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include "footer.html" %}


        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown.js"></script>
        <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="/static/js/module.js"></script>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <script type="text/javascript">
            // set any vars returned by flask here
        </script>
        <script type="text/javascript" src="/static/js/index.js"></script>
    </body>

</html>
