<nav class="navbar navbar-default" style="">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">@channel</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="text-center" href="#" data-toggle="modal" data-target="#aboutModal">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn" data-toggle="modal" data-target="#existing-channels"><span class="glyphicon glyphicon-search"></span></a>
                </li>
                <li>
                    <a class="btn" data-toggle="modal" data-target="#creating-channel"><span class="glyphicon glyphicon-plus"></span></a>
                </li>
                <li>
                    <a class="btn dropdown-toggle" data-toggle="modal" data-target="#settings-modal">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>