<!DOCTYPE html>

<html>
    <head>
        <title>@channel</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css" />
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">About the rules</h3>
                        </div>
                        <div class="panel-body">
                            By using this website (the "site"), you agree that you'll follow these rules, and understand that if I think you haven't followed these rules, we will (at our discretion) take down these posts and terminate your access to the site.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h3 class="panel-title">Rules for @channel</h3>
                        </div>

                        <div class="panel-body">
                            <ul>
                                <li><strong>Do not post anything generally NSFW.</strong> I would like to have a safe enough site that I wouldn't be disappointed to show it to friends or family.</li>
                                <li><strong>Do not spam.</strong> You may post any content you want as long as it's legal. Just do not repost it multiple times in rapid succession.</li>
                                <li><strong>Do not post personal information.</strong> This includes stuff like personal addresses, social security numbers, etc.</li>
                                <li><strong>Do not post anything illegal.</strong> I feel like this should go without saying.</li>
                                <li><strong>Do not post anything intentinally hateful.</strong> This includes discrimenatory comments, words, phrases, or anything mean in general targeted at specific people.</li>
                                <li><strong>Do not break the site or do anything that interferes with normal usage of the site.</strong> Be sure to submit an issue on the <a target="_blank" href="https://github.com/PiJoules/-channel">Github repo</a> if there are any bugs or security issues.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <!-- Default panel contents -->
                        <div class="panel-heading">
                            <h3 class="panel-title">Etiquette for @channel</h3>
                        </div>

                        <div class="panel-body">
                            <p>I really like reddit's <a target="_blank" href="http://www.reddit.com/wiki/reddiquette">Reddiquette</a>, so I'll just put a link to that. A lot of the rules were actually <b>*cough*</b> borrowed from reddit and 4chan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% include "footer.html" %}


        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown.js"></script>
        <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fittext.js"></script>
        <script type="text/javascript" src="/static/js/module.js"></script>
        <script type="text/javascript" src="/static/js/navbar.js"></script>
        <script type="text/javascript">
            // set any vars returned by flask here
        </script>
    </body>

</html>
