<!DOCTYPE html>

<html>
    <head>
        <title>Submit a post to @channel</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-switch.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-markdown.min.css" />
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    </head>

    <body>
        {% include "navbar.html" %}

        <div class="container">
            <form>
                <input name="title" type="text" placeholder="Title?" />
                <textarea id="post-markdown" name="content" data-provide="markdown" rows="10"></textarea>
                <label class="checkbox">
                    <input name="publish" type="checkbox"> Publish
                </label>
                <hr>
                <button type="submit" class="btn">Submit</button>
            </form> 
        </div>

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript" src="/static/js/markdown.js"></script>
        <script type="text/javascript" src="/static/js/he.js"></script>
        <script type="text/javascript" src="/static/js/to-markdown.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap-markdown.js"></script>
        <script type="text/javascript" src="/static/js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.fittext.js"></script>
        <script type="text/javascript" src="/static/js/functions.js"></script>
        <script type="text/javascript">
            // set any vars returned by flask here
        </script>
    </body>

</html>
